@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="newsApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AngularJS Binding App</title>

    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet/less" type="text/css" href="/Content/css/StyleSheet.less">
</head>
<body>
    <div id="container">
        <h1>@ViewBag.Title</h1>
        <div id="columns">
        </div>
    </div>
</body>
</html>
