@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="newsApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AngularJS Binding App</title>
  
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet/less" type="text/css" href="/Content/css/StyleSheet.less">
</head>
<body ng-controller="newsController">
    <header>
        <div class="title">
            <h1>Le Nouillorque Times</h1>
            <div id="input">
                <input type="text" class="form-control" id="usr">
                <span class="glyphicon glyphicon-search"></span>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="content">
            Search: <input ng-model="query">
            <select ng-model="query2">
                <option value="queryChange(3)">Politic</option>
                <option value="queryChange(2)">Economy</option>
            </select>
            <div ng-repeat="article in news | filter:filters" repeat-end="onEnd()" data-id={{article.Id}} class="item" ng-class="appliedClass({{article.Category}})" data-toogle="modal" data-target="#myModal" role="button" data-title={{article.Title}} data-content={{article.Content}}>
                <div>
                    <div class="box-preamble">
                        <h3>{{article.Title}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <nav class="nav">
            <ul>
                <li ng-click="filters.Category=undefined">
                    <a>
                        <span class="glyphicon glyphicon-home"></span>
                        <span>Home</span>
                    </a>
                </li>
                <li ng-click="filters.Category=0">
                    <a>
                        <span class="glyphicon glyphicon-usd"></span>
                        <span>Economie</span>
                    </a>
                </li>
                <li>
                    <a ng-click="filters.Category=1">
                        <span class="glyphicon glyphicon-user"></span>
                        <span>Politique</span>
                    </a>
                </li>
                <li>
                    <a ng-click="filters.Category=2">
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span>People</span>
                    </a>
                </li>
                <li>
                    <a ng-click="filters.Category=3">
                        <span class="glyphicon glyphicon-screenshot"></span>
                        <span>Sport</span>
                    </a>
                </li>
                <li>
                    <a ng-click="filters.Category=4">
                        <span class="glyphicon glyphicon-film"></span>
                        <span>culture</span>
                    </a>
                </li>
                <li>
                    <a ng-click="filters.Category=5">
                        <span class="glyphicon glyphicon-flash"></span>
                        <span>Sciences</span>
                    </a>
                </li>
                <li>
                    <a ng-click="#filters.Category=6">
                        <span class="glyphicon glyphicon-phone"></span>
                        <span>Technologie</span>
                    </a>
                </li>
                <li>
                    <a ng-click="filters.Category=7">
                        <span class="glyphicon glyphicon-globe"></span>
                        <span>World</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                    <div id="description"></div>
                </div>
                <div class="modal-body" id="myModalContent">
                    <img id="image">
                </div>
            </div>
        </div>
    </div>
    <script src="/Scripts/less.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Scripts/angular.js" type="text/javascript"></script>
    <script src="/Scripts/angularNewsController.js" type="text/javascript"></script>
    <!-- <script src="/Scripts/isotope.pkgd.min.js" type="text/javascript"></script> -->
    <!-- <script src="/Scripts/angular-isotope.min.js" type="text/javascript"></script> -->
    <!-- <script src="/Scripts/isotope-init.js" type="text/javascript"></script> -->
</body>
</html>